<flynt-component 
  load:on="visible" 
  name="BlockWysiwyg"
  style="background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}transparent{% endif %}; ">
  <div 
    class="boxed flex flex-col md:flex-row">
    <div class="pr-sm w-full md:w-1/5 uppercase">
      {{ blockTitle }}
    </div>
    <div 
      class="
        wysiwyg flex flex-col
        {% if textPosition == 'right' %} justify-end w-full md:w-1/2 ml-auto{% endif %}
        {% if textPosition == 'left' %} justify-start w-full md:w-1/2 mr-auto{% endif %}
        {% if textPosition == 'center_narrow' %} justify-center w-full md:w-3/5{% endif %}
        {% if textPosition == 'center_full' %} justify-center w-full mx-auto{% endif %}
      ">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
  </div>
</flynt-component>
