flynt-component[name='HeroAWA'] {
  .blob {
    width: 100vw;
    height: 100%;
    display: grid;
    justify-content: flex-end;
    place-items: flex-end;
    background-color: violet;
    background-size: cover;
    background-position: center; 
    position: relative;
    overflow: hidden;
  }
  
  .blob-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .blob-layer__0 {
    background-size: cover;
    margin-left: -5%;
  }
  
  .blob-layer__1 {
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .blob-layer__2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .blob-layer__3 {
    background-position: 0% 20%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .blob-layer__4 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .blob-layer__5 {
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .blob-layer__6 {
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .blob-layer__7 {
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .blob-layer__8 {
    background-position: 0% 30%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .hero-title {
    font-size: 1.875rem;
    width: 100vw;
    padding-left: 25px;
    padding-right: 25px;
    color: #ffffff;
    z-index: 50;

    @media (min-width: $breakpoint-desktop) {
      font-size: 3.75rem;
    }
  }
}