<flynt-component
  load:on="load" name="BlockCountdown"
  class="overflow-hidden block my-xxs"
  style="
    color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--white){% endif %};
    background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}var(--orange){% endif %};">
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div class="w-screen mx-auto pt-md pb-[25px]">
    <div data-ref="slider" class="slider relative max-w-full swiper-container" id="sliderTicker">
      <div class="swiper-wrapper box box-inherit items-center" style="transition-timing-function:linear!important;">
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
          <a class="font-h2 !mb-0 item swiper-slide !w-fit !flex flex-row items-center gap-sm no-underline">
            <div class="countdown"></div>
            <span> - </span>
          </a>
      </div>
    </div>
  </div>
</flynt-component>
